/*바디 전체*/
.body{
  max-width: 500px;
  max-height: 600px;
}

.bodyMain {
  width: 500px;
  height: 600px; 

  border: 3px #d3d3d3 solid;
  border-radius: 5px;
  padding-top: 30px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


/*루트 레이아웃*/
.navlayout{
  float: left;
  width: 500px;
  height: 30px;
  border-bottom: 3px #d3d3d3 solid;
  border-radius: 5px;
  margin-top: -30px;
}

.layoutIco{
  float: left;
  margin: 2px;
}

.navlayout ul{
  float: right;
  margin: 5px;
  cursor: pointer;
}

.navlayout ul img{
  margin-left: 3px
}

.navlayout span{
  float: left;
  margin: 2px;
  font-weight: 800;
}



/*메인*/
.mainName {
margin-left: 120px;
margin-top: 50px;
margin-bottom: 50px;
}

.navbar {
  background: rgb(255, 255, 255);
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
} 


/*로그인 ID input*/
.input-Idcontainer img {
  margin-right: 10px; /* 이미지와 input 요소 사이 간격 조정 */
}

.input-IdcontainerInput {
  border: none; /* 입력 필드의 테두리 스타일 설정 */
  border-radius: 5px; /* 입력 필드의 모서리를 둥글게 설정 */
  height: 35px;
  width: 65%;
  margin-left: 50px;
  margin-top: 8px;
  outline: none;
}

.input-Idcontainer{
   background-image : url('/GDR/bg_login_id_0.png');
   background-repeat : no-repeat;
   align-items: center;
   margin-bottom: 10px;
   margin-left: 50px;
   background-size: 400px;
   height: 60px;

}

/*로그인 PW input*/
.input-PwcontainerImg {
  margin-right: 0px; /* 이미지와 input 요소 사이 간격 조정 */
  width: 16px;
  vertical-align: sub;
  cursor: pointer;
}

.input-PwcontainerInput {
  border: none; /* 입력 필드의 테두리 스타일 설정 */
  border-radius: 5px; /* 입력 필드의 모서리를 둥글게 설정 */
  height: 35px;
  width: 65%;
  margin-left: 50px;
  margin-top: 8px;
  outline: none;
}

.input-Pwcontainer{
   background-repeat : no-repeat;
   align-items: center;
   margin-bottom: 10px;
   margin-left: 50px;
   background-size: 400px;
   height: 60px;
   background-image: url(/GDR/bg_login_pw_0.png);
}



/*로그인 버튼*/
.input-Loginbuttoncon{
  padding-bottom: 20px;
  margin: 10px 0px 10px;
  border-bottom: 1px solid rgb(227, 230, 237);
}

.input-Loginbutton{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  min-width: 96px;
  height: 52px;
  padding: 14px 36.5px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 115, 250);
  margin-left: 50px;
  width: 400px;
}

/*체크박스 2개*/
.input-Ckcontainer{
  margin-top:30px ;
  margin-bottom: 30px;
  margin-left: 50px;
}

.input-Ckcontainer input[type="checkbox"] {
 display: none;

}

.input-Ckcontainer label img {
  cursor: pointer;
}

.input-Ckcontainer label{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  width: 250px;
}

.input-Ckcontainer span{
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  align-items: center; /* 수직 정렬을 위한 설정 */
}




/*로그인 화면 하단 버튼 2개*/
.login-Foot {
width: 500px;
}

.footChat{
  margin: 5px;
  margin-left: 50px;
  cursor: pointer;
}

.footSupport{
  margin: 7px;
  cursor: pointer;
}


/*OptionNav*/
.OptionNav{
  display: flex;
  width: 100%;
  height: 5%;
  border-bottom: 1px rgb(227, 230, 237) solid;
}


.OptionNav span{
  font-size: 18px;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  font-weight: 600;
}

.OptionNavFocus{
  background-color: rgb(227, 230, 237);
}

/*OptionSet*/

.frontOption{
  border-bottom: 1px solid rgb(227, 230, 237);
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.frontOption div{
  margin-bottom: 7px;
}

.frontOption_Set div{
  margin-bottom: 7px;
}

.frontOption_Set textarea{
  resize: none;
  width: 300px;
  height: 100px;
}

/*OptionCheck*/




/*OptionTest*/
.optionTest button{
  width: 150px;
  height: 80px;
  margin: 20px;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 800;
}

.optionTest span{
  display: block;
  text-align-last: center;
}





/*OptionBottom*/
.optionBottom{
  border-top: 1px solid rgb(227, 230, 237);
  padding-top: 10px;
  margin: 30px 0px 10px;
  float: none;
}

.optionBottom button{
  white-space: nowrap;
  width: 100px;
  height: 30px;
  margin-right: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  
}

.optionBottom_btn1{
  margin-left: 140px;
  background-color: rgb(0, 115, 250);
}

.optionBottom_btn2{
  background-color: rgb(227, 230, 237);
}



.berger{
  position: relative;
  float: right;
  width: auto;
  height: auto;
  padding-inline-start: 0px;
  margin-left: 200px;
  background-color: gray;
  z-index : 10;
  opacity: 1;
  text-align-last: left;
}



/*접수요청*/
.reception {
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x:auto;
  overflow-y:scroll;
}

.receptionLabel {
  background-color: rgb(0, 115, 250);
  color: rgb(255, 255, 255);
  padding: 3px;
}

.receptionCheck {
 padding: 1px;
 text-align: right;
 font-size: 13px;
}

.receptionCheck img {
margin-left: 5px;
margin-right: 3px; 
width: 20px;
vertical-align: sub;
cursor: pointer;
}

.reception thead {
  display:block;
  background: #F0F0F0;
  color:black;
  position: sticky;
  top: 0;
}

.reception tbody {
  display:block;
  height: 195px;
  max-height: 195px;
}


.reception td, th {
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid lightgray;
}

.TimeandRefresh{
  padding: 5px;
  text-align: left;
  font-size: 14px;
}

.TimeandRefresh img{
  float: right;
  width: 60px;
  vertical-align: sub;
  cursor: pointer;
}
